### Rules of Variables

1. Varable name can't start with number
2. There should not be any space between word, instead use _ (or) camel case
3. we can't use
' " , < > / ? | () ! @ # $ % ^ &
4. don't use l , I , O ,o 
5. don't use kewords

### Data Types

1. int - for integer values (for eg : -23, 5678, 0, -7654, 678, 876543)
2. float - for Floating point values ( for eg: 234.567, -8756.987, 890.00)
3. str - for string (for eg : 'Samuel' , "Edison", 'Samuel Edison','S')
4. bool - for boolean values ( True /False)
5. complex - for real and imaginary values ( for eg: 23+4j)

C / C++ / C# / Java

int a,b,c

Python varaibles are dynamically types

var = 10        ==> var will be int
var = 'Samuel'  ==> var will be string
var = 10.34     ==> var will be float

### Operators

1. Arithmetic Operators 
    a) +  --> Addition
    b) -  --> subraction
    c) *  --> Multliplication
    d) /  --> division 
    c) // --> floor division
    d) %  --> modulo
    e) ** --> exponent

2. Relational Operator --> > < >= <= == !=
3. Bitwise Operator --> &, |, ^, << , >>
4. Logical Operator --> and, or , not
5. Membership Operator --> in , not in
6. Identity Operator --> is, not is

### Operator Precedence

In [6]:
10 / 4

2.5

In [ ]:
C
--
10/4   ==> 2 
10.0 / 4.0 ==> 2.5 (double)
10.0f / 4.0f ==> 2.5 (float)

In [7]:
10 // 4

2

In [8]:
10 ** 3    # pow(10,3)

1000

1. **
2. ~
3. * , / , %, //
4. +, -
5. >>, <<
6. &
7. ^, |
8. <=, >= , < ,> 
9. == , !=
10. Arithmetic assignment operator ( +=, -=, %=.....)
11. is , is not
12. in , not in
13. not, or , and

### Numeric Data

int
float
complex

In [9]:
num1 = 10
num2 = 20
print(num1>num2)

False

In [10]:
comp1 = 20+3j
comp2 = 30+4j
print(comp1+comp2)

(50+7j)

In [12]:
num1 = True
num2 = False
print(num1 and num2)
print(num1 or num2)

False
True

In [ ]:
C Example
---------

int a = 20
int b = 0
printf("%d ", a && b);  

o/p : 0 
    

Non Zero --> TRUE
Zero --> FALSE

In [16]:
# 0 to 256
num1 = 256
num2 = 256
print(id(num1), id(num2))
print(num1 is num2)

4535560512 4535560512
True

In [19]:
num1 = 257
num2 = 257
print(id(num1), id(num2))
print(num1 is not num2)

140277417939056 140277417939536
True

In [18]:
num1 = 25788
num2 = 25788
print(id(num1), id(num2))
print(num1 == num2)

140277417939216 140277417939440
True

### String

Single Line String
..................


' '
" "

Multi Line String
.................


''' '''
""" """

In [20]:
firstName = 'Samuel Edison'
first_name = "Samuel Edison"
print(firstName)
print(first_name)

Samuel Edison
Samuel Edison

In [21]:
info = 'this is Samuel's Python class'
print(info)

SyntaxError: invalid syntax (<ipython-input-21-25f98fc33228>, line 1)

In [22]:
info = "this is Samuel's Python class"
print(info)

this is Samuel's Python class

In [ ]:
info = 'this is Samuel\'s Python class'
print(info)

In [23]:
msg = 'hi, how are you?
I am fine...'
print(msg)

SyntaxError: invalid syntax (<ipython-input-23-ed89925f3a24>, line 2)

In [24]:
msg = '''Hi, how are you?
I am fine..
who are you?
'''
print(msg)

Hi, how are you?
I am fine..
who are you?

In [26]:
msg = """Hi, how are you?
I am fine..
who are you?
Iam the God's son..."""

print(msg)

Hi, how are you?
I am fine..
who are you?
Iam the God's son...

In [27]:
fname = 'Samuel'
lname = 'Edison'
fullName = fname + lname
print(fullName)

SamuelEdison

In [ ]:
fname='Samuel'
lname='Edison'
fullName=fname+' '+lname
#Samuel 
#Samuel Edison
print(fullName)

In [29]:
msg = "I'm Sorry...."
info=msg*100
print(type(info))

<class 'str'>

In [ ]:
C Example
---------
char msg[] = "I am sorry..."
for(int 1 = 1 ; i <= 100 ; i++){
    print("%s",msg);
}

### Indexing

In [30]:
#[+ve index] 0...n
name = "Samuel Edison"
print(name[3])

u

In [ ]:
0 1 2 3 4 5 6 7 8 9 10 11 12
S a m u e l   E d i s  o  n
           -7    -4 -3 -2 -1

In [34]:
#[-ve index] -1....-n
name = "Samuel Edison"
print(name[-6])

E

In [35]:
info = 'This is my blue box'

info[11] = 'g'  
print(info)

TypeError: 'str' object does not support item assignment

In [36]:
info = 'This is my blue box'

info = 'this is my glue box'  
print(info)

this is my glue box

### Slicing

In [40]:
# [ start : stop_before : step ]
name = "Samuel Edison"
print(name[:3:])

Sam

In [38]:
name = "Samuel Edison"
print(name[0:6:2])

Sme

Default Value
-------------
start --> 0  / -1
stop --> String length / -string length+1
step --> 1  /  -1

In [41]:
name = "Samuel Edison"
print(name[7::])

Edison

In [ ]:
name = "Samuel Edison"
print(name[7:])

In [42]:
name = "Samuel Edison"
print(name[0:6])

Samuel

In [43]:
name = "Samuel Edison"
print(name[:6])

Samuel

In [47]:
name = "Samuel Edison"
print(name[-1:-7:-1]
# nosidE

nosidE

In [51]:
name = "Samuel Edison"
print(name[-8:-14:-1])

leumaS

In [45]:
name = "Samuel Edison"
print(name[::-1])

nosidE leumaS

In [52]:
name = "Samuel Edison"
print(name[::1])

Samuel Edison

### Methods

obj.method()


newstrobj = obj.capitalize() --> caps the 1st char
newstrobj = obj.lower() --> convert all the char to lower case
newstrobj = obj.upper() --> convert all the char to upper case
newstrobj = obj.center(length, character) -->  
for eg : samuel.center(10,'*') ==> **Samuel**

pos = obj.find('word/char') --> the position of the char or the 1st char of the word

obj = obj.replace('find word' , 'replace word')

pos = obj.index (value , start pos, end pos)

cnt = obj.count (value, start pos, end pos)

In [55]:
myinfo = "this is my python class"
info = myinfo.capitalize()
print(info)

This is my python class

In [56]:
name = "samuel"
print(name.upper())

SAMUEL

In [57]:
name = "Samuel"
print(name.center(10,'*'))

**Samuel**

In [58]:
myinfo = "this is my python class"
print(myinfo.find('p'))

11

In [61]:
myinfo = "this is my python class"
print(myinfo.find('i'))

2

In [62]:
myinfo = "this is my blue box"
newinfo = myinfo.replace('blue','glue')
print(newinfo)

this is my glue box

In [67]:
myinfo = "this is my python class"
print(myinfo.index('i',0,5))

2

In [68]:
print(len(myinfo))

23

### Boolean Methods -- String

obj.istitle()
obj.isalnum()  --> alpha and numberic values
obj.isalpha()  --> only for alphabets
obj.isdigit()  --> only for digits 
obj.isidentifier() --> 
obj.isprintable()  --> 
obj.isspace() 
obj.islower()
obj.isupper()

In [69]:
num = '1a9b2c83d8'
# print(type(num))
print(num.isdigit())  # all digit
print(num.isalnum())
print(num.isalpha())  # all alphabet

False
True
False

In [107]:
title = "This Is Python Class"
print(title.istitle())

True

In [72]:
info = "This Samuel\'s python\t class"
print(info.isprintable())

False

In [74]:
info = "This Samuel's Python class"
word = "Python"
print(word not in info)
# print(word in info)

False

In [76]:
num1 = '9182873'
num2 = '100'
print(type(num1), type(num2))
print(num1+num2)

<class 'str'> <class 'str'>
9182873100

In [77]:
num1 = '9182873'
num2 = '100'
# print(type(num1), type(num2))
print(int(num1)+int(num2))    # 9182873 + 100

9182973

In [78]:
num1 = '9182873'
num2 = '100'
print(float(num1)+ float(num2))   # 9182873.0 + 100.0

9182973.0

In [79]:
num1 = '91828.73'   # float
num2 = '100.45'
print(float(num1)+ float(num2))

91929.18

In [80]:
num1 = '91828.73'   # float
num2 = '100.45'
print(int(num1)+ int(num2))

ValueError: invalid literal for int() with base 10: '91828.73'

In [81]:
num1 = '123abc'
num2 = '987xyz'
print(int(num1) + int(num2))

ValueError: invalid literal for int() with base 10: '123abc'

### strip , lstrip & rstrip

In [82]:
info = '@^&$This is my apple|(}@@^}}}'
print(info.strip('@$^&(}|'))

This is my apple

In [83]:
info = '@^&$This is my apple|(}@@^}}}'
print(info.lstrip('@$^&(}|'))

This is my apple|(}@@^}}}

In [84]:
info = '@^&$This is my apple|(}@@^}}}'
print(info.rstrip('@$^&(}|'))

@^&$This is my apple

### ljust,rjust  & center

In [85]:
name = "Samuel"
greet = "Hello"
print(name,greet)
print(name.ljust(10,'*'), greet)
# S a m u e l * * * * 
print(greet, name.rjust(10,'*'))
# * * * * S a m u e l

Samuel Hello
Samuel**** Hello
Hello ****Samuel

In [86]:
name = "Samuel"
greet = "Hello"
# print(name,greet)
print(name.ljust(15,'@').rjust(20,'*'))

*****Samuel@@@@@@@@@

In [87]:
name = "Samuel"
print(name.center(10,'*'))

**Samuel**

### Input Function

In [88]:
# input()  --> get's input as string
var = input()
var

1234

'1234'

In [89]:
var = int(input())
var

1234

1234

In [ ]:
printf("Enter a number....");
scanf("%d",&var);

In [90]:
print("Enter a number....")
var = input()

Enter a number....
123

In [91]:
var = int(input("Enter a number...."))
var

Enter a number....12345

12345

### Format Specifier

In [93]:
a = 10
b = 23.45
c = 'x'
d = 'Samuel'
e = 23+5j
f = True

In [94]:
print(a,b,c,d,e,f)

10 23.45 x Samuel (23+5j) True

In [95]:
print("Int Val : ",a,"\nFloat Val : ",b, 
      "\nChar Val : ",c, "\nString : ",d , "\nComp Val: ",e )

Int Val :  10
Float Val :  23.45
Char Val :  x
String :  Samuel
Comp Val:  (23+5j)

Data type                   Format Specifier
--------------------------------------------

    int                    %i
    dec                    %d
    octal                  %o
    hexadecimal            %x or %X
    float                  %f/%F or %e/%E or %g
    char                   %c
    string                 %s or %r
    complex                %r
    
    %()

In [98]:
print("Int Val : %d\nFloat Val : %g\nChar Val : %c\nString : %s\nComp Val: %r"
                                                                            %(a,b,c,d,e))

Int Val : 10
Float Val : 23.45
Char Val : x
String : Samuel
Comp Val: (23+5j)

In [99]:
print("Float Val : {1}\nInt Val :{0}\nString : {3}\nChar Val : {2}\nComp Val: {4}"
                                                                      .format(a,b,c,d,e))

Float Val : 23.45
Int Val :10
String : Samuel
Char Val : x
Comp Val: (23+5j)

In [100]:
print(f"Float Val : {b}\nInt Val :{a}\nString : {d}\nChar Val : {c}\nComp Val: {e}")

Float Val : 23.45
Int Val :10
String : Samuel
Char Val : x
Comp Val: (23+5j)

In [102]:
print("Line one")
print("Line two")

Line one
Line two

In [ ]:
printf("Line one")
printf("Line two")

o/p
---
Line oneLine two

In [103]:
a = 10
b = 20
print(a,b)

10 20

In [ ]:
printf("%d%d",a,b);

o/p
---
1020

In [105]:
a = 10
b = 20
print(a,b,sep=' ',end='\n')
# 10 20 \n
# Hi
print("Hi")

10 20
Hi

In [106]:
print(a,b,sep='_',end='\t')
# 10_20         Hi
print("Hi")

10_20	Hi

### Collections

1. List
2. Tuple
3. Set
4. Dictionary

### List

1. List is an ordered collection of data
2. we can store dis-similar data
3. datas are enclosed within []

In [109]:
myList = []    #empty list
print(type(myList))
print(myList)

<class 'list'>
[]

In [110]:
myLst = [1,2,3,4]  # list of integers
print(myLst)

[1, 2, 3, 4]

In [111]:
myLst = [123,'Samuel','M',8000.00,'India']
print(myLst)

[123, 'Samuel', 'M', 8000.0, 'India']

#### Indexing - List

In [112]:
# [index-pos]
print(myLst[3])

8000.0

In [113]:
myLst[3] = 10000.00
print(myLst)

[123, 'Samuel', 'M', 10000.0, 'India']

In [114]:
#[negative index]
print(myLst[-1])

India

#### Slicing

In [116]:
# [start-pos : stop-before-pos: step]

print(myLst[1:4:])

['Samuel', 'M', 10000.0]

In [117]:
print(myLst[::-1])

['India', 10000.0, 'M', 'Samuel', 123]

#### Nested List

In [118]:
stud = [123,'Samuel',[90,80,70,60,50]]
print(stud[2])

[90, 80, 70, 60, 50]

In [120]:
stud = [123,'Samuel',[90,80,70,60,50]]
print(stud[1][2])

m

In [121]:
stud[0] = 254
print(stud)

[254, 'Samuel', [90, 80, 70, 60, 50]]

In [122]:
# stud[2]   ==> [90, 80, 70, 60, 50]  [3]
stud[2][3] = 88
print(stud)

[254, 'Samuel', [90, 80, 70, 88, 50]]

In [124]:
emp = myLst

In [127]:
print(emp)
print(id(emp), id(myLst))

[123, 'Samuel', 'M', 10000.0, 'India']
140277411070464 140277411070464

In [128]:
emp[1] = 'Edison'

In [129]:
print(emp)

[123, 'Edison', 'M', 10000.0, 'India']

In [130]:
print(myLst)

[123, 'Edison', 'M', 10000.0, 'India']

In [131]:
print(id(emp),id(myLst))

140277411070464 140277411070464

In [132]:
print(emp is myLst)

True

In [133]:
empLst = [123,'Samuel','M',8000.00,'India']
empLst[1] = 'Edison'
empLst[5] = 'Training'
empLst.

IndexError: list assignment index out of range

#### Methods - List

##### append()

In [137]:
empLst = [123,'Samuel','M',8000.00,'India']
print(empLst)
empLst.append('Training')
print(empLst)

[123, 'Samuel', 'M', 8000.0, 'India']
[123, 'Samuel', 'M', 8000.0, 'India', 'Training']

In [135]:
studlst = [123, 'Edison']
mrk = [66,77,88,99,55]
studlst.append(mrk)
print(studlst)   # [123,'Edison',[66,77,88,99,55]]

[123, 'Edison', [66, 77, 88, 99, 55]]

##### clear()

In [136]:
empLst.clear()
print(empLst)

[]

##### copy()

In [139]:
newemp = empLst.copy()
print(newemp)
print(id(newemp), id(empLst))

[123, 'Samuel', 'M', 8000.0, 'India', 'Training']
140277412636416 140277410545600

In [140]:
newemp[5] = 'Learning & Development'
print(newemp)
print(empLst)

[123, 'Samuel', 'M', 8000.0, 'India', 'Learning & Development']
[123, 'Samuel', 'M', 8000.0, 'India', 'Training']

##### count()

In [141]:
mylst = [10,23,45,23,56,23,67,89,23,56,10]
print(mylst.count(23))

4

In [156]:
mylst = [10,23,45,23,56,23,[67,89,23,56],10]
print(mylst[6].count(23))

1

##### extend()

In [143]:
studlst = [123, 'Edison']
mrk = [66,77,88,99,55]
studlst.extend(mrk)
print(studlst)

[123, 'Edison', 66, 77, 88, 99, 55]

##### insert()

In [150]:
empLst = [123,'Samuel','M',8000.00,'India']
print(empLst)
empLst.insert(4,'Training')
print(empLst)

[123, 'Samuel', 'M', 8000.0, 'India']
[123, 'Samuel', 'M', 8000.0, 'Training', 'India']

##### index()

In [145]:
print(empLst.index('Training'))

4

##### pop()

In [146]:
print(empLst.pop(5))
print(empLst)

India
[123, 'Samuel', 'M', 8000.0, 'Training']

In [157]:
lst = [11,22,33,44,[1,2,3,4,5],90,67]
print(lst[4].pop(2))
print(lst)

3
[11, 22, 33, 44, [1, 2, 4, 5], 90, 67]

In [148]:
print(lst.pop())

67

##### remove()

In [151]:
empLst.remove('India')
print(empLst)

[123, 'Samuel', 'M', 8000.0, 'Training']

In [152]:
lst = [11,22,33,44,[1,2,3,4,5],90,69]
lst.remove([1,2,3,4,5])

In [153]:
print(lst)

[11, 22, 33, 44, 90, 69]

##### reverse()

In [158]:
lst = [11,22,33,44,[1,2,3,4,5],90,66]
lst.reverse()
print(lst)

[66, 90, [1, 2, 3, 4, 5], 44, 33, 22, 11]

##### sort()

In [159]:
lst = [11,22,33,44,90,66]
lst.sort()
print(lst)

[11, 22, 33, 44, 66, 90]

In [160]:
lst = [11,22,33,44,90,66]
lst.sort(reverse=True)
print(lst)

[90, 66, 44, 33, 22, 11]

In [ ]:
del lst[3]

In [ ]:
lst

In [ ]:
del lst

In [ ]:
print(lst)

#### Common Functions

In [ ]:
min()
max()
sum()
len()
sorted()

In [161]:
mylst = [12,45,67,23,45,11,43]

In [162]:
print(min(mylst))

11

In [163]:
print(max(mylst))

67

In [164]:
print(sum(mylst))

246

In [165]:
print(len(mylst))

7

In [166]:
print(sorted(mylst))
print(mylst)

[11, 12, 23, 43, 45, 45, 67]
[12, 45, 67, 23, 45, 11, 43]

### Tuple

1. tuple is immutable
2. we can use indexing and slicing

In [ ]:
mytup = () # Empty tuple

In [167]:
mytup = (11,22,66,33,44)
print(mytup[4])

44

In [168]:
mytup[2] = 34

TypeError: 'tuple' object does not support item assignment

In [169]:
mynewTup = (1,2,3,4,[11,22,33,44],5,6,7)
mynewTup[4][3] = 123
print(mynewTup)

(1, 2, 3, 4, [11, 22, 33, 123], 5, 6, 7)

In [ ]:
mynewTup[4] = [10,20,30]

#### Methods

##### count()

In [170]:
print(mytup.count(66))

1

##### index()

In [171]:
print(mytup.index(44))

4

#### Common Functions

In [ ]:
min()
max()
sum()
len()
sorted()

In [172]:
mytup = (12,45,67,23,45,11,43)

In [173]:
print(min(mytup))

11

In [174]:
print(max(mytup))

67

In [175]:
print(sum(mytup))

246

In [176]:
print(len(mytup))

7

In [177]:
print(sorted(mytup))
print(mytup)

[11, 12, 23, 43, 45, 45, 67]
(12, 45, 67, 23, 45, 11, 43)

In [179]:
namelst = ('Samuel','Edison','Blesson','Jordan')
print(sorted(namelst))

['Blesson', 'Edison', 'Jordan', 'Samuel']

### Set

1. it is an unordered collection of data
2. only unique values are stored
3. Indexing and slicing is not possible

In [180]:
myset = {2345,56789,6789987,87659,123456,98765}
myset

{2345, 56789, 87659, 98765, 123456, 6789987}

In [181]:
#indexing is not possible
myset[3]

TypeError: 'set' object is not subscriptable

In [182]:
#Slicing is not possible
myset[2:4]

TypeError: 'set' object is not subscriptable

In [190]:
myset = {2345,56789,6789987,2345,87659,123456,56789,98765,2345}
myset

{2345, 56789, 87659, 98765, 123456, 6789987}

In [184]:
myinfo = {123, 'Samuel',98765.893,12+3j,True}
myinfo

{(12+3j), 123, 98765.893, 'Samuel', True}

### Methods - Set

In [ ]:
() ==> empty tuple
[] ==> empty list
{} ==> empty dict
set()  ==> empty set

#### add()

In [ ]:
myset.add(918273645)
myset

In [ ]:
myset.add(91645)
myset

#### clear()

In [185]:
myset.clear()
myset

set()

#### remove() & discard()

In [187]:
myset

{2345, 56789, 87659, 98765, 123456, 6789987}

In [188]:
myset.remove(98765)
myset

{2345, 56789, 87659, 123456, 6789987}

In [189]:
myset.remove(98765)
myset

KeyError: 98765

In [191]:
myset.discard(98765)
myset

{2345, 56789, 87659, 123456, 6789987}

In [192]:
myset.discard(98765)
myset

{2345, 56789, 87659, 123456, 6789987}

#### pop()

In [193]:
print(myset)
print(myset.pop())

{123456, 6789987, 2345, 87659, 56789}
123456

In [194]:
print(myset)
print(myset.pop())

{6789987, 2345, 87659, 56789}
6789987

#### update()

In [195]:
lst = [1,2,3,4,5]
myset.update(lst)
print(myset)

{1, 2, 3, 4, 5, 2345, 87659, 56789}

In [196]:
tup = (11,21,13,41,15)
myset.update(tup)
print(myset)

{1, 2, 3, 4, 5, 2345, 41, 87659, 11, 13, 15, 56789, 21}

### Mathematical Process

In [ ]:
#Union
#intersection
#difference
#symmetric_difference

In [198]:
science_grp = {'English','Vernacular','Physics','Chemistry','Maths','Computer Science'}
puresci_grp = {'English','Vernacular','Botany','Zoology','Physics','Chemistry'}
arts_grp = {'English','Vernacular','Economics','Commerce','Accounts','Computer Science'}

#### union()

In [199]:
print(science_grp.union(arts_grp))

{'Maths', 'Vernacular', 'Accounts', 'Economics', 'English', 'Commerce', 'Chemistry', 'Computer Science', 'Physics'}

#### intersection()

In [200]:
print(science_grp.intersection(arts_grp))

{'Computer Science', 'English', 'Vernacular'}

In [201]:
print(arts_grp.intersection(science_grp))

{'Computer Science', 'English', 'Vernacular'}

In [202]:
print(science_grp.intersection(puresci_grp))

{'Chemistry', 'English', 'Physics', 'Vernacular'}

In [203]:
print(arts_grp.intersection(puresci_grp))

{'English', 'Vernacular'}

#### difference()

In [ ]:
science_grp = {'English','Vernacular','Physics','Chemistry','Maths','Computer Science'}
arts_grp = {'English','Vernacular','Economics','Commerce','Accounts','Computer Science'}

In [204]:
print(science_grp.difference(arts_grp))

{'Maths', 'Chemistry', 'Physics'}

In [205]:
print(arts_grp.difference(science_grp))

{'Accounts', 'Economics', 'Commerce'}

#### symmetric_difference()

In [ ]:
science_grp = {'English','Vernacular','Physics','Chemistry','Maths','Computer Science'}
puresci_grp = {'English','Vernacular','Botany','Zoology','Physics','Chemistry'}
arts_grp = {'English','Vernacular','Economics','Commerce','Accounts','Computer Science'}

In [206]:
print(science_grp.symmetric_difference(arts_grp))

{'Maths', 'Commerce', 'Chemistry', 'Accounts', 'Economics', 'Physics'}

In [207]:
print(arts_grp.symmetric_difference(science_grp))

{'Maths', 'Accounts', 'Economics', 'Commerce', 'Chemistry', 'Physics'}

### Boolean Methods - Set

#### isdisjoin()

In [208]:
myset1 = {12,23,34,45}
myset2 = {54,43,32,21}
print(myset1, myset2)

{34, 12, 45, 23} {32, 43, 21, 54}

In [209]:
print(myset1.isdisjoint(myset2))

True

In [210]:
myset1 = {12,23,34,45,66}
myset2 = {66,54,43,32,21}
print(myset1, myset2)

{34, 66, 12, 45, 23} {32, 66, 43, 21, 54}

In [211]:
print(myset1.isdisjoint(myset2))

False

#### issubset()

In [212]:
myset1 = {12,23,34}
myset2 = {12,23,34,45,66}
print(myset1, myset2)

{34, 12, 23} {34, 66, 12, 45, 23}

In [213]:
print(myset1.issubset(myset2))

True

In [214]:
print(myset2.issubset(myset1))

False

#### issuperset()

In [215]:
print(myset1.issuperset(myset2))

False

In [216]:
print(myset2.issuperset(myset1))

True

### Dictionary

In [3]:
# key -> value
# item
# {key:value,}

In [ ]:
Empty List --> []
Empty Tuple --> ()
Empty Set --> set()
Empty Dict --> {}

In [218]:
emp_info = {}
print(type(emp_info))

<class 'dict'>

In [219]:
emp_info = {'Name':'Samuel','ID':123,'Salary':13000.00}
print(emp_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0}

In [220]:
mydict = {123:'apple',124:'banana',125:'Orange'}
print(mydict)

{123: 'apple', 124: 'banana', 125: 'Orange'}

In [221]:
newdict = {123:'apple','banana':124}
print(newdict)

{123: 'apple', 'banana': 124}

### Indexing

In [ ]:
# [1] [-1] not possible

In [222]:
print(mydict[0])

KeyError: 0

In [223]:
emp_info

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0}

In [224]:
print(emp_info['Salary'])

13000.0

In [225]:
print(emp_info['Name'])

Samuel

In [ ]:
emp_info['Name'] = 'Edison'
emp_info

In [226]:
print(emp_info['Dept'])

KeyError: 'Dept'

In [227]:
emp_info['Dept'] = 'L&D'
print(emp_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'L&D'}

In [228]:
mydict = {123:'apple',124:'banana',125:'Orange'}
del mydict[125]
print(mydict)

{123: 'apple', 124: 'banana'}

In [ ]:
del mydict

In [ ]:
mydict

### Methods - Dict

#### copy()

In [229]:
newemp = emp_info.copy() 
print(newemp)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'L&D'}

#### update()

In [230]:
dept_info = {'DeptID':111, 'Dept':'Training', 'Manager':'Sugan'}

In [231]:
print(emp_info)
print(dept_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'L&D'}
{'DeptID': 111, 'Dept': 'Training', 'Manager': 'Sugan'}

In [233]:
emp_info.update(dept_info)

In [234]:
print(emp_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'Training', 'DeptID': 111, 'Manager': 'Sugan'}

#### get()

In [235]:
print(emp_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'Training', 'DeptID': 111, 'Manager': 'Sugan'}

In [236]:
print(emp_info['Name'])

Samuel

In [237]:
print(emp_info['Location'])

KeyError: 'Location'

In [238]:
print(emp_info.get('Name'))

Samuel

In [239]:
print(emp_info.get('Location'))

None

In [241]:
print(emp_info.get('Location','Key Unavailable'))

Key Unavailable

#### clear()

In [ ]:
print(newemp)
newemp.clear()
print(newemp)

#### keys(), values(), items()

In [242]:
print(emp_info.keys())

dict_keys(['Name', 'ID', 'Salary', 'Dept', 'DeptID', 'Manager'])

In [243]:
print(emp_info.values())

dict_values(['Samuel', 123, 13000.0, 'Training', 111, 'Sugan'])

In [244]:
print(emp_info.items())

dict_items([('Name', 'Samuel'), ('ID', 123), ('Salary', 13000.0), ('Dept', 'Training'), ('DeptID', 111), ('Manager', 'Sugan')])

#### pop()

In [245]:
print(emp_info.pop('deptID'))

KeyError: 'deptID'

In [246]:
print(emp_info.pop('deptID','You have mentioned a wrong Key'))

You have mentioned a wrong Key

In [ ]:
print(emp_info.pop('DeptID','You have mentioned a wrong Key'))

#### popitem()

In [247]:
print(emp_info)

{'Name': 'Samuel', 'ID': 123, 'Salary': 13000.0, 'Dept': 'Training', 'DeptID': 111, 'Manager': 'Sugan'}

In [248]:
print(emp_info.popitem())

('Manager', 'Sugan')

#### fromkeys()

In [249]:
keys = ('Name','Age','Gender','Location')
info = {}
info = info.fromkeys(keys,None)
print(info)

{'Name': None, 'Age': None, 'Gender': None, 'Location': None}

### Split & Join

In [250]:
info = 'Apple Orange Banana Grapes'
print(info)

Apple Orange Banana Grapes

In [251]:
fruitList = info.split()
print(fruitList)

['Apple', 'Orange', 'Banana', 'Grapes']

In [252]:
info = 'Apple,Orange,Banana,Grapes'
print(info)

Apple,Orange,Banana,Grapes

In [253]:
fruitList = info.split(',')
print(fruitList)

['Apple', 'Orange', 'Banana', 'Grapes']

In [254]:
info = 'App,le,Oran,ge,Banana,Gra,pes'
print(info)

App,le,Oran,ge,Banana,Gra,pes

In [255]:
fruitList = info.split(',')
print(fruitList)

['App', 'le', 'Oran', 'ge', 'Banana', 'Gra', 'pes']

In [ ]:
info = 'Apple#Orange#Banana#Grapes'
print(info)
fruitList = info.split('#')
print(fruitList)

In [256]:
info = 'Apple#Orange@Banana#Grapes'
print(info)
fruitList = info.split('#')
print(fruitList)

Apple#Orange@Banana#Grapes
['Apple', 'Orange@Banana', 'Grapes']

In [257]:
info = 'Apple#Orange#Banana#Grapes'
print(info)
fruitList = info.split('#',2)
print(fruitList)

Apple#Orange#Banana#Grapes
['Apple', 'Orange', 'Banana#Grapes']

In [ ]:
fruitsList = input()
fruitsList

In [258]:
fruitsList = input().split()
fruitsList

Apple Orange Banana Grapes

['Apple', 'Orange', 'Banana', 'Grapes']

In [259]:
fruit1,fruit2,fruit3,fruit4 = input().split() 
print(fruit1)
print(fruit2)
print(fruit3)
print(fruit4)

Apple Orange Banana Grapes
Apple
Orange
Banana
Grapes

In [260]:
mylst = ['This','is', 'my','Python','class']
print(mylst)

['This', 'is', 'my', 'Python', 'class']

In [261]:
info = ''.join(mylst)
print(info)

ThisismyPythonclass

In [262]:
info = ' '.join(mylst)
print(info)

This is my Python class

In [263]:
info = '_'.join(mylst)
print(info)

This_is_my_Python_class

### Control Statements

if
else
elif    --> else if

In [ ]:
Syntax for Python:
------------------

if condition:
    statement1
    statement2

statement3
statement4
statement5


Syntax for C:
-------------    
if (condition) {
    statement1;
    statement2;
}
statement3;
statement4;
statement5;

In [ ]:
Syntax for Python:
------------------

if condition:
    statement1
    statement2
else:
    statement3
    statement4
statement5


Syntax for C:
-------------    
if (condition) {
    statement1;
    statement2;
} 
else {
    statement3;
    statement4;
}
statement5;

In [ ]:
Syntax for Python:
------------------

if condition:
    statement1
    statement2
elif condition:
    statement3
    statement4
else:
    statement5

statement6
statement7

In [ ]:
# Do nothing statement
pass

In [265]:
if 10 < 20:
    pass
else:
    print("Hello")

In [ ]:
C Example
---------
if (10 < 20){
    ;   // --> pass
} else {
    printf("Hello");
}

In [269]:
name = input("enter the name:")
age = int(input("Enter the age:"))

if age < 18 and age >= 1:
    print(f'{name}, you are not eligible for voting...')
elif age >= 18 and age <= 90:
    print(f'{name}, you are elibible for voting...')
elif age > 90:
    print(f'{name}, you are eligible for voting but better stay at home')
else:
    print('Invalid Input')

enter the name:Samuel
Enter the age:91
Samuel, you are eligible for voting but better stay at home

### Loop

In [ ]:
1. for
2. while

In [ ]:
syntax:
-------

for val in range(start,stop_before,step):
    statements
else:
    statements
    
for val in iterable_object:
    statements
else:
    statements

In [ ]:
while condition:
    statements
else:
    statements

In [281]:
for itr in range(1,11,1):
    print(itr, end=' ')
else:
    print("\nLoop executed fully....")
print(f'Loop got break at {itr}th iteration')

1 2 3 4 5 6 7 8 9 10
Loop executed fully....
Loop got break at 10th iteration

In [280]:
for itr in range(1,11,1):
    if itr == 6:
        break
    print(itr, end=' ')
else:
    print("\nLoop executed fully....")
print(f'Loop got break at {itr}th iteration')

1 2 3 4 5 Loop got break at 6th iteration

In [283]:
mystr = "Samuel Edison"
for val in mystr:
    print(val)

S
a
m
u
e
l

E
d
i
s
o
n

In [284]:
mylst =  [1,23,45,234,8,76]
for val in mylst:
    print(val)

1
23
45
234
8
76

In [285]:
itr = 1
while itr < 11:
    if itr == 6:
        break
    print(itr, end=' ')
    itr += 1
else:
    print("\nLoop executed fully....")
print(f'Loop got break at {itr}th iteration')

1 2 3 4 5 Loop got break at 6th iteration

In [286]:
mylst = []
for itr in range(10):  # start = 0 , step = 1 
    mylst.append(int(input()))
print(mylst)

12
34
56
78
234
87
12
45
57
28
[12, 34, 56, 78, 234, 87, 12, 45, 57, 28]

In [288]:
mylst = []
for itr in range(5):  # start = 0 , step = 1 
    mylst.append(int(input()))
mytup = tuple(mylst)
print(mytup)

1
2
3
4
5
(1, 2, 3, 4, 5)

In [289]:
mydict = {}
for itr in range(3):
    key= input('enter the key: ')
    value = input('Enter the value: ')
    mydict[key] = value
print(mydict)

enter the key: Name
Enter the value: Samuel
enter the key: Age
Enter the value: 18
enter the key: Location
Enter the value: India
{'Name': 'Samuel', 'Age': '18', 'Location': 'India'}

In [290]:
for val in mydict:
    print(val)

Name
Age
Location

In [292]:
for val in mydict:
    print(val, "==>", mydict[val])

Name ==> Samuel
Age ==> 18
Location ==> India

In [293]:
for key,val in mydict.items():
    print(key,'==>',val)

Name ==> Samuel
Age ==> 18
Location ==> India

### zip()

In [294]:
mylst1 = [10,20,30,40]
mylst2 = [11,22,33,44]
for val1,val2 in mylst1,mylst2:
    print(val1+val2)

ValueError: too many values to unpack (expected 2)

In [297]:
mylst1 = [10,20,30,40,50]
mylst2 = [11,22,33,44]
print(list(zip(mylst1,mylst2)))

[(10, 11), (20, 22), (30, 33), (40, 44)]

In [298]:
mylst1 = [10,20,30,40]
mylst2 = [11,22,33,44]
for val1,val2 in zip(mylst1,mylst2): # for val1,val2 in <(10,11), (20,22),(30,33),(40,44)>
    print(val1+val2)

21
42
63
84

In [299]:
for val1,val2 in [(10, 11), (20, 22), (30, 33), (40, 44)]:
    print(val1+val2)

21
42
63
84

In [300]:
keys = ('Name','Age','Location')
values = ['Samuel',18,'India']
mydict = dict(zip(keys,values))
print(mydict)

{'Name': 'Samuel', 'Age': 18, 'Location': 'India'}

## Comprehension

In [ ]:
1. List Comprehension
2. Set Comprehension
3. Dictionary Comprehension

### List Comprehesion

In [302]:
mylst = [11,22,33,44]
sqrlst = []
for val in mylst:
    sqrlst.append(val**2)
print(sqrlst)

[121, 484, 1089, 1936]

In [303]:
mylst = [11,22,33,44]
sqrlst = [val ** 2 for val in mylst]
print(sqrlst)

[121, 484, 1089, 1936]

In [304]:
evelst = [i for i in range(21) if i % 2 == 0]
print(evelst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [305]:
mylst = [1,2,3,4]
cubofsqr = [i ** 3 for i in [val ** 2 for val in mylst]]
# [1,4,9,16]
print(cubofsqr)

[1, 64, 729, 4096]

### Set Comprehension

In [306]:
mylst = {11,22,33,44}
sqrlst = {val ** 2 for val in mylst}
print(sqrlst)

{1936, 1089, 484, 121}

### Dict Comprehension

In [307]:
subs = ('Math','Phy','Chem','CS')
marks = [170,100,160,190]

sub_mrk = {k:v for k,v in zip(subs,marks)}
print(sub_mrk)

{'Math': 170, 'Phy': 100, 'Chem': 160, 'CS': 190}

In [308]:
sub_per = { k:v//2 for k,v in zip(subs,marks)}
print(sub_per)

{'Math': 85, 'Phy': 50, 'Chem': 80, 'CS': 95}

## Function

In [ ]:
# C / C++
int fun (int,int)    # Function Declaration
int main(){
    result = fun(10,20)
    printf("%d",result)
}
int fun(int a, int b){  # Function Definiton
    return a+b
}


def fun(a,b):
    return a+b

result = fun(10,20)

In [309]:
def sumof2nos(a,b):
    return a+b

result = sumof2nos(10,20)
print(result)

30

In [312]:
def sumof2nos(a,b):
    return a+b

result = sumof2nos(10)
print(result)

TypeError: sumof2nos() missing 1 required positional argument: 'b'

In [313]:
def sumof2nos(a,b=5):   # default argument
    return a+b

result = sumof2nos(10)
print(result)

15

In [314]:
def fun(mylst,mystr,mytup):  
    print(mylst)
    print(mystr)
    print(mytup)

fun([10,20,30,40],"Samuel",(77,66.45))

[10, 20, 30, 40]
Samuel
(77, 66.45)

### Passing Multiple Argument

In [315]:
def sumofnnos(a,b,c,d,e):
    print(a+b+c+d+e)
    
sumofnnos(10,20,30,40,50)

150

In [317]:
def sumofnnos(*args):    # args will be packed as a tuple 
    print(type(args))
    print(sum(args))
    
sumofnnos(10,20,30,40,50)

<class 'tuple'>
150

### Passing Keyword Argument

In [318]:
def info(**kwargs): # kwars will packing the argumets as dict
    print(type(kwargs))
    print(kwargs)
    
info(Name='Samuel',Age=18,Sal=876543)

<class 'dict'>
{'Name': 'Samuel', 'Age': 18, 'Sal': 876543}

In [320]:
def arith(a,b):
    return a+b, a-b, a*b, a//b

# _sum,diff,prod,quo = arith(10,20)
output = arith(10,20) 
# print(_sum,diff,prod,quo)
print(output)

(30, -10, 200, 0)

### Recursion

### Lambda

In [321]:
def square(n):
    return n**2

print(square(10))

100

In [322]:
square = lambda n : n**2

print(square(10))

100

In [324]:
power = lambda n,m : n ** m

print(power(10,3))

1000

In [325]:
def square(n):
    return n**2

mylst = [1,2,3,4]
print(square(mylst))

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [326]:
mylst = [1,2,3,4]
square = lambda n : n**2

sqrlst = [ square(val) for val in mylst]
print(sqrlst)

[1, 4, 9, 16]

In [330]:
mylst = [1,2,3,4]
square = lambda n : n**2

sqrlst = [ square(val) for val in mylst]
print(sqrlst)

[1, 4, 9, 16]

### Map

Syntax:
    map(fun,iterable object)

In [331]:
def square(n):
    return n**2

mylst = [1,2,3,4]

print(square(mylst))

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [335]:
def square(n):
    return n**2

mylst = [1,2,3,4]

sqrlst = list (map(square,mylst))  # <1,4,9,16>
print(sqrlst)

[None, None, None, None]

In [333]:

mylst = [1,2,3,4]

sqrlst = list (map(lambda n : n**2,mylst))  # <1,4,9,16>
print(sqrlst)

[1, 4, 9, 16]

In [338]:
lst = list (map(int,input().split()))
print(lst)

# int('2')

1 2 3 4 5
[1, 2, 3, 4, 5]

In [339]:
def checkeven(n):
    if n % 2 == 0:
        return n
    
mylst = [1,2,3,4,5,6,7,8,9,10]

print(list(map(checkeven,mylst)))

[None, 2, None, 4, None, 6, None, 8, None, 10]

### Filter

Syntax:
    filter(fun,iterable object)

In [344]:
def checkeven(n): # 4
    return n % 2 == 0  # True 
    
mylst = [1,2,3,4,5,6,7,8,9,10]

print(list((filter(checkeven,mylst))))  # <2,4,6,8,10>

[2, 4, 6, 8, 10]

### Reduce

syntax:
    reduce(fun, iterable object)

In [345]:
import functools

In [346]:
def mul(a,b):   # a => 24 , b => 5
    return a*b   # 24 * 5 (120)

print(functools.reduce(mul,range(1,6)))  #(1,2) (2,3) (6,4) (24, 5) (120)

120

## Nested Function / First-Class Function

In [349]:
def wrapper_fun(name): #name ==> Samuel
    greet = 'hi'
    def inner_fun():
        greet = 'hello'
        print(greet,name)
    print(greet,name)
#     return inner_fun

wrapper_fun('Samuel')
# funObj()

hi Samuel

In [351]:
def wrapper_fun(name): #name ==> Samuel
    greet = 'hi'
    def inner_fun():
        greet = 'hello'
        print(greet,name)
        def newfun():
            greet = 'hai'
            print(greet,name)
        return newfun
    print(greet,name)
    return inner_fun

funObj = wrapper_fun('Samuel')
newfunObj = funObj()
newfunObj()

hi Samuel
hello Samuel
hai Samuel

In [ ]:
https://youtube.com/NonStopEnlightenment